@font-face {
    font-family: 'maplestory';
    src: url('../Font/MaplestoryBold.ttf');
}

@font-face {
    font-family: 'cocogoose';
    src: url('../Font/Cocogoose.ttf');
}

@font-face{
    font-family: 'gangwonedu';
    src: url('../Font/GangwonEdu.otf');
    src: url('../Font/GangwonEdu.ttf');
    src: url('../Font/GangwonEdu.woff')
}