.container {
  width: 350px;
  height: 350px;
  display: inline-block;
  background-color: #c9b3ef;
  border-radius: 30px;
  position: relative;
}
.mask {
  position: relative;
  background-color: bisque;
  margin: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.mask.square {
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
}
.mask.vertical {
  left: 0;
  top: 0;
  width: 225px;
  height: 300px;
}
.mask.horizontal {
  left: 0;
  top: 0;
  width: 300px;
  height: 225px;
}
