.container{
    width: 350px;
    height: 350px;
    display: inline-block;
    background-color: #C9B3EF;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
}
.mask{
    position: relative;
    background-color: bisque;
    margin: 25px;
    border-radius: 20px;
}
.mask.square{
    position: absolute;
    left:0;
    top:0;
    width: 300px;
    height: 300px;
}
.mask.vertical{
    position: absolute;
    left:0;
    top:0;
    width: 225px;
    height: 300px;
}
.mask.horizontal{
    position: absolute;
    left:0;
    top:0;
    width: 300px;
    height: 225px;
}