.container {
  box-sizing: border-box;
  width: 40vw;
  height: 40vw;
  border-radius: 4vw;
  background-color: white;
  overflow: hidden;
  display: inline-block;
  position: relative;
  box-shadow: 5px 6px 1px rgb(168, 168, 168);
}

@media (min-width: 1024px) {
  .container{
    width: 350px;
    height: 350px;
    border-radius: 30px;
  }

}

.container.opt1 {
  background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
}
.container.opt2 {
  background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
}
.container.opt3 {
  background-color: #044b2d;
}
.container.opt4 {
  background-color: white;
  box-shadow: 5px 6px 1px rgb(67, 67, 67);
}
/* skinNum =1 */
.skkucomit {
  font-family: "cocogoose";
  font-weight: 900;
  position: absolute;
  top: 66px;
  left: 210px;
  line-height: normal;
  transform: rotate(-90deg);
}
.skkucomit p {
  margin: 0;
  margin-bottom: -15px;
  float: right;
}
.skku {
  font-size: 27px;
  color: #704a18;
}
.skku.design3 {
  color: #ffdfbe;
}
.comit {
  font-size: 33px;
  color: white;
}

.mask {
  left: 7.14%;
  top: 7.14%;
  border-radius: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mask.square {
  width: unset;
  height: 85.71%;
  aspect-ratio: 1 / 1;
}
.mask.vertical {
  aspect-ratio: 3 / 4;
  height: 85.71%;
  width: unset;
}
.mask.horizontal {
  aspect-ratio: 4 / 3;
  width: 85.71%;
  height: unset;
}
.skinElement {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.img{
  height: 100%;
}
.img.vertical{
  width: 100%;
  height: unset;
}


