.container {
  box-sizing: border-box;
  width: 40vw;
  height: 40vw;
  border-radius: 4vw;
  background-color: white;
  overflow: hidden;
  display: inline-block;
  position: relative;
  box-shadow: 5px 6px 1px rgb(168, 168, 168);
}

@media (min-width: 1024px) {
  .container{
    width: 350px;
    height: 350px;
    border-radius: 30px;
  }
}

.container.opt1 {
  background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
}
.container.opt2 {
  background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
}
.container.opt3 {
  background-color: #044b2d;
}
.container.opt4 {
  background-color: white;
  box-shadow: 5px 6px 1px rgb(67, 67, 67);
}
/* skinNum =1 */
.skkucomit {
  font-family: "cocogoose";
  font-weight: 900;
  position: absolute;
  top: 66px;
  left: 210px;
  line-height: normal;
  transform: rotate(-90deg);
}
.skkucomit p {
  margin: 0;
  margin-bottom: -15px;
  float: right;
}
.skku {
  font-size: 27px;
  color: #704a18;
}
.skku.design3 {
  color: #ffdfbe;
}
.comit {
  font-size: 33px;
  color: white;
}

.mask {
  margin: 25px;
  border-radius: 20px;

  position: relative;

  display: flex;
  justify-content: center;
  overflow: hidden;
}
.mask.square {
  width: 300px;
  height: 300px;
}
.mask.vertical {
  width: 225px;
  height: 300px;
}
.mask.horizontal {
  width: 300px;
  height: 225px;
}
.skinElement {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (min-width: 1024px) {
  .skinElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    z-index: 10;
  }
}


.borderText p {
  font-family: "gangwonedu";
  font-size: 20px;
  position: absolute;
}
.up {
  top: -17px;
  left: 113px;
}
.right.square {
  transform: rotate(90deg);
  top: 145px;
  left: 228px;
  width: max-content;
}
.left {
  display: flex;
  position: absolute;
  top: 40px;
  left: 3px;
}
.left p {
  display: inline-block;
  transform: rotate(-90deg);
  margin-left: 3px;
}
.down.square {
  top: 307px;
  left: 162px;
  transform: rotate(180deg);
}

.right.vertical{
  transform:rotate(-90deg);
  top: 210px;
  left: 235px;
  width: 100px;
}
.down.vertical{
  left: 170px;
  top: 307px;
  transform: rotate(180deg);
}
.right.horizontal{
  top: 235px;
  left: 32px;
  width: 50px;
}
.down.horizontal {
  top: 200px;
  left: 2px;
  transform: rotate(-90deg);
}
.camera {
  position: absolute;
}
.camera.vertical{
  top: 50px;
  left: 265px;
  transform: rotate(-90deg);
}
.camera.horizontal{
  top: 270px;
  left: 240px;
}
