.container {
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
  display: inline-block;

  position: relative;
}
/*default
.container{
  
}
*/
.container.opt1 {
  background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
}
.container.opt2 {
  background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
}
.container.opt3 {
  background-color: #044b2d;
}
/* 무지
.container.opt4 {
  
} */
/* skinNum =1 */
.skkucomit {
  font-family: "cocogoose";
  font-weight: 900;
  position: absolute;
  top: 66px;
  left: 210px;
  line-height: normal;
  transform: rotate(-90deg);
}
.skkucomit p {
  margin: 0;
  margin-bottom: -15px;
  float: right;
}
.skku {
  font-size: 27px;
  color: #704a18;
}
.comit {
  font-size: 33px;
  color: white;
}

.mask {
  background-color: #e0e0e0;
  margin: 25px;
  border-radius: 20px;

  position: relative;

  display: flex;
  justify-content: center;
  overflow: hidden;
}
.mask.square {
  width: 300px;
  height: 300px;
}
.mask.vertical {
  width: 225px;
  height: 300px;
}
.mask.horizontal {
  width: 300px;
  height: 225px;
}
.skinElement {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
