.background {
  width: 100vw;
  height: auto;
  min-height: 120vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  background-color: #e0e0e0;
  overflow: auto;
  transition: all 0.5s;
}

.albumContainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 42vw;
  grid-auto-columns: 42vw;
  row-gap: 2vw;
  column-gap: 2vw;
  width: 84vw;
  margin-top: calc(22vw + 10px);
  margin-bottom: 10px;
  margin-left: 3vw;
  margin-right: -3vw;
  border-radius: 30px;
  padding: 5vw 3vw;
  background-color: #d6d6d6;
}
.footer {
  padding: 15px 0;
}
.footer img {
  margin-right: -10px;
}

.pageEnd {
  width: 100vw;
  height: 5px;
}
.loadingDiv {
  width: 100vw;
  height: 80px;
  text-align: center;
  font-family: "cocogoose";
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 110px;
}
.noPic {
  width: 100vw;
  height: 80px;
  text-align: center;
  font-family: "gangwonedu";
  font-size: 40px;
  font-weight: 500;
  margin-top: 40vh;
}

.footer {
  background-color: #e0e0e0;
  color: #767676;
  margin: 0;
  padding-bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}

.footer img {
  position: relative;
  right: 20px;
}
.footertext p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* font-size: 1.4rem; */

  margin: 0.1rem;
}
.githubLink:hover {
  cursor: url("../assets/Images/mouse-pointer-white.png") 10 5, auto;
}

@media (min-width: 1024px) {
  .albumContainer {
    display: grid;
    margin-top: 240px;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    row-gap: 30px;
    column-gap: 25px;
    width: 1475px;
    border-radius: 30px;
    padding: 30px;
    padding-bottom: 40px;
    margin-bottom: 200px;
  }
  .loadingDiv {
    margin-bottom: 0;
  }
  .noPic {
    width: 100vw;
    height: 80px;
    text-align: center;
    font-family: "gangwonedu";
    font-size: 100px;
    font-weight: 900;
    margin-top: 500px;
  }
  .footer {
    padding-bottom: 10px;
  }
}
