.background {
  width: 100vw;
  height: auto;
  min-height: 120vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  background-color: #e0e0e0;
  overflow: auto;
  transition: all 0.5s;
}
.background.darkmode{
  background-color: rgb(36, 36, 36);
}
.albumContainer {
  display: grid;
  margin-top: 240px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  row-gap: 30px;
  column-gap: 25px;
  width: 1475px;
  background-color: #d6d6d6;
  border-radius: 30px;
  padding: 30px;
  padding-bottom: 40px;
  margin-bottom: 200px;
}

.pageEnd {
  width: 100vw;
  height: 5px;
}
.loadingDiv {
  width: 100vw;
  height: 80px;
  text-align: center;
  font-family: "cocogoose";
  font-size: 40px;
  font-weight: 900;
}
.noPic {
  width: 100vw;
  height: 80px;
  text-align: center;
  font-family: "gangwonedu";
  font-size: 100px;
  font-weight: 900;
  margin-top: 500px;
}

.footer {
  background-color: #e0e0e0;
  margin: 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  transition: all 0.5s;
  background-color: rgb(36, 36, 36);
  color: white;
}
.footer img {
  position: relative;
  right: 20px;
}
.text p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 1.4rem;
  color: #767676;
  margin: 0.1rem;
}
