.background {
  width: 100vw;
  height: 200vh;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
  background-color: #e0e0e0;
}
.albumContainer{
    display: grid;
    margin-top: 240px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    row-gap: 30px;
    column-gap: 25px;
    width: 1475px;
}
