/* .headerContainer{
  height: calc(165px+ 165px);
  top:-165px;
  width: 100vw;
  position: fixed;
  left:0;
  z-index:1;
} */
.header {
  height: 175px;
  width: 100vw;
  z-index: 2;
  background-color: #e0e0e0;
  position: fixed;
  left:0;
  top: 0px;
}


.logo {
  float: right;
  margin-top: 10px;
  margin-right: calc(50vw - 737.5px);
}

.btn {
    float:right;
    border-radius: 10px;
    padding: 10px 40px;
    font-family: 'cocogoose';
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
    background-color: #603EBB;
    color: white;
    margin-top: calc(175px - 80px);
    margin-right: -70px;
    
  }
  .btn:hover{
    background-color: white;
    color: #603EBB;
    border: none;
  }

.comitPhoto{
      font-family: 'cocogoose';
      font-weight: 900;
      font-size: 80px;
      line-height: normal;
      display: inline-block;
      margin-left:calc(50% - 737.5px);
  }
.comitPhoto p{
    height: min-content;
}
.comit{
    margin: 0;
    color: #603EBB;
}
.photobooth {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 60px;
}
