.header {
  height: 22vw;
  width: 100vw;
  z-index: 20;
  background-color: #e0e0e0;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.comitPhoto {
  font-family: "cocogoose";
  font-weight: 900;
  font-size: 9vw;
  line-height: normal;

  width: 50%;
  position: absolute;
  top: 0;
  left: 5vw;
  display: flex;
  flex-direction: column;
  /* transform: translate(-50%, 0%); */
}
.comit {
  margin: 0;
}

.photobooth {
  margin: 0px;
  margin-top: -10px;
  font-size: 7vw;
  transition: color 0.5s;
  width: fit-content;
}

.logo {
  /* position: relative;
  top: 5vw;
  left: 8vw; */
  margin: 0;
  margin-left: 15px;
  margin-bottom: 1.5vw;
  width: 7vw;
  height: 7vw;
}
.togglebtn {
  position: absolute;
  right: 5vw;
  top: 10vw;
  height: 10vw;
  width: 10vw;
}

.disappear {
  animation: disappear 0.5s ease forwards;
}
.appear {
  animation: appear 0.5s ease forwards;
}
@media (min-width: 1024px) {
  .header {
    height: 175px;
    width: 100vw;
    z-index: 2;
    background-color: #e0e0e0;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
  }
  .comitPhoto {
    font-family: "cocogoose";
    font-weight: 900;
    font-size: 80px;
    line-height: normal;
    position: relative;
    left: calc(50% - 767.5px);
    transform: translate(0%, 0%);
  }

  .photobooth {
    margin: 0;
    margin-top: -20px;
    font-size: 60px;
    transition: color 0.5s;
    width: fit-content;
  }
  .logo {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-left: 20px;
  }
  .togglebtn {
    width: 3.5vw;
    height: 3.5vw;
    position: absolute;
    top: 20vh;
    right: 55px;
  }
}

.logo:hover {
  cursor: url("../assets/Images/mouse-pointer-white.png") 10 5, auto;
}

.comitPhoto p {
  height: min-content;
}
@keyframes disappear {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(270deg);
    opacity: 0;
  }
}
@keyframes appear {
  from {
    transform: rotate(270deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
