.header {
  height: 22vw;
  width: 100vw;
  z-index: 20;
  background-color: #e0e0e0;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.comitPhoto {
  font-family: "cocogoose";
  font-weight: 900;
  font-size: 10vw;
  line-height: normal;

  position: absolute;
  top: 0;
  left: 50vw;
  transform: translate(-50%, 0%);
}
.comit {
  position: relative;
  top: 0;
  margin: 0;
}

.photobooth {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 7vw;
  transition: color 0.5s;
}
.photobooth.darkmode {
  color: white;
}
.logo {
  position: absolute;
  top: 5vw;
  left: 8vw;
  width: 12vw;
}
.togglebtn{
  position: absolute;
  right: 5vw;
  top: 10vw;
  height: 10vw;
  width: 10vw;
}

.disappear{
  animation: disappear 0.5s ease forwards;

}
.appear{
  animation: appear 0.5s ease forwards;
}
@media (min-width: 1024px) {
  .header {
    height: 175px;
    width: 100vw;
    z-index: 2;
    background-color: #e0e0e0;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
  }
  .comitPhoto {
    font-family: "cocogoose";
    font-weight: 900;
    font-size: 80px;
    line-height: normal;

    position: relative;
    left: calc(50% - 767.5px);
    transform: translate(0%, 0%);
  }
  .photobooth {
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 60px;
    transition: color 0.5s;
  }
  .logo {
    position: absolute;
    left: calc(50% - 767.5px - 10px);
    top: 4vh;
    transform: translate(-100%, 0%);
    width: 5vw;
    height: 5vw;
  }
  .togglebtn{
    width:3.5vw;
    height:3.5vw;
    position: absolute;
    top: 20vh;
    right: 55px;
  }
}


.logo:hover {
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
}

.comitPhoto p {
  height: min-content;
}
@keyframes disappear {
  from{
    transform: rotate(0deg);
    opacity: 1;
  }
  to{
    transform: rotate(270deg);
    opacity: 0;
  }
}
@keyframes appear {
  from{
    transform: rotate(270deg);
    opacity: 0;
  }
  to{
    transform: rotate(0deg);
    opacity: 1;
  }
}