.header {
  height: 10vh;
  width: 100vw;
  z-index: 2;
  background-color: #e0e0e0;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}
.header.darkmode {
  background-color: rgb(36, 36, 36);
}
.comitPhoto {
  font-family: "cocogoose";
  font-weight: 900;
  font-size: 10vw;
  line-height: normal;

  position: absolute;
  top: 0;
  left: 50vw;
  transform: translate(-50%, 0%);
}
.comit {
  position: relative;
  top: 0;
  margin: 0;
  color: #603ebb;
  text-shadow: 3px 5px 1px rgb(156, 156, 156);
}
.comit.darkmode {
  text-shadow: 3px 5px 1px white;
}
.photobooth {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 7vw;
  transition: all 0.5s;
}
.photobooth.darkmode {
  color: white;
}
.logo {
  position: absolute;
  top: 5vh;
  left: 10vw;
  transform: translate(0%, -50%);
  width: 12vw;
}
@media (min-width: 1024px) {
  .header {
    height: 175px;
    width: 100vw;
    z-index: 2;
    background-color: #e0e0e0;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
  }
  .comitPhoto {
    font-family: "cocogoose";
    font-weight: 900;
    font-size: 80px;
    line-height: normal;

    position: relative;
    left: calc(50% - 767.5px);
    transform: translate(0%, 0%);
  }
  .photobooth {
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 60px;
    transition: all 0.5s;
  }
  .logo {
    width: 110px;
    position: absolute;
    left: calc(50% - 767.5px - 20px);
    top: 10px;
    transform: translate(-100%, 0%);
  }
}
.logo:hover {
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
}

.comitPhoto p {
  height: min-content;
}
