.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 31;
  background: rgba(0, 0, 0, 0.75);
  cursor: url("../assets/Images/mouse-pointer-white.png") 10 5, auto;
}

.container {
  box-sizing: border-box;
  width: 100vw;
  height: 55vh;
  bottom: -100%;
  border-radius: 10vw 10vw 0 0;
  background-color: #c9b3ef;
  position: fixed;
  z-index: 32;
  cursor: url("../assets/Images/mouse-pointer-white.png") 10 5, auto;
  transition: bottom 0.6s ease;
}
.grid {
  width: 90%;
  height: 90%;
  padding: 5% 5% 5% 5%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 60px;
  grid-template-areas:
    "title title"
    "textarea textarea"
    "cancel save";
}

.title {
  grid-area: title;
  justify-self: flex-start;
  align-self: flex-start;
  font-size: 9vw;
  /* width: min(76% , 60vw); */
  width: 75%;
  font-family: "gangwonedu";
  /* padding: 3vh 12vw; */
  /* padding-bottom: 8vh; */
  padding: 1vh 0 7vh 3vw;

  color: white;
  text-shadow: 3px 4px 6px rgb(102, 102, 102);
}

.noteinput {
  grid-area: textarea;
  justify-self: center;
  align-self: flex-start;
  width: 78vw;
  height: 10vh;
  border: 2px solid black;
  font-family: "kotrahope";
  font-size: 4vh;
  font-weight: 1300;
  padding: 1.5vh 4vw;
}
.noteinput.error {
  grid-area: textarea;
  border: 2px solid red;
  animation: shake 0.2s;
}
.loading {
  animation: rotate 1s ease-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(0%, 0%);
  }
  69% {
    transform: translate(0%, 0%);
  }
  70% {
    transform: translate(-3%, 0%);
  }
  80% {
    transform: translate(3%, 0%);
  }
  90% {
    transform: translate(-3%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.actions {
  width: 68vw;
  height: 10vw;
  display: flex;
  justify-content: space-between;
  margin: 5vw;
  position: absolute;
  bottom: 5vh;
}

.message {
  grid-area: textarea;
  justify-self: center;
  align-self: flex-start;
  font-size: 1.5rem;
  font-family: "gangwonedu";
  margin-top: calc(13vh + 1.5rem + 10px);
}
