.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 31;
  background: rgba(0, 0, 0, 0.75);
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
}
/*conatiner*/
.container {
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  border-top: 5px solid black;
  border-radius: 10% 10% 0% 0%;
  background-color: white;

  position: fixed;
  z-index: 32;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  grid-template-areas:
    "title title"
    "textarea textarea"
    "cancel save";
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  transition: top 0.6s ease;
}

.title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  font-size: 7vw;
  width: min(450px, 70vw);
  font-family: "gangwonedu";
  padding: 8vw 12vw;
  text-align: center;
}

.noteinput {
  grid-area: textarea;
  justify-self: center;
  align-self: flex-start;
  width: 78vw;
  height: 75%;
  border: 2px solid black;
  font-size: 6vw;
  padding: 2vw 4vw;
  /* font-family: ; */
}
.noteinput.error {
  grid-area: textarea;
  border: 2px solid red;
  animation: shake 0.2s;
}
@keyframes shake {
  0% {
    transform: translate(0%, 0%);
  }
  69% {
    transform: translate(0%, 0%);
  }
  70% {
    transform: translate(-3%, 0%);
  }
  80% {
    transform: translate(3%, 0%);
  }
  90% {
    transform: translate(-3%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.actions {
  width: 68vw;
  height: 10vw;
  display: flex;
  justify-content: space-between;
  margin: 5vw;
  position: absolute;
  top: 60vh;
}

.message {
  grid-area: textarea;
  justify-self: center;
  align-self: flex-end;
  font-size: 5vw;
  font-family: "gangwonedu";
  margin-bottom: 0.5vh;
}
