.screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}
.text {
  font-family: "kotrahope";
  font-size: 4.5vw;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1vh;
  padding-left: 0.5vh;
  width: 100%;
  text-align: left;
  word-break:break-all;
}
.noteImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.note {
  width: 50vw;
  height: 21vw;
  word-break:break-all;
  position: absolute;
  top: 100vh;
  /* top: 50vh; */
  animation: float 8s linear;
}

@keyframes float {
  0% {
    top: 100vh;
    opacity: 0;
  }
  10% {
    top: 80vh;
    opacity: 0;
  }
  20% {
    top: 70vh;
    opacity: 1;
  }
  80% {
    top: 20vh;
    opacity: 1;
  }
  90% {
    top: 10vh;
    opacity: 0;
  }

  100% {
    top: 0vh;
    opacity: 0;
  }
}
