.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 31;
  background: rgba(0, 0, 0, 0.75);
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
}
/*container*/
.container {
  width: 100vw;
  height: calc(250px + min(100vw, calc(100vh - 250px)));
  position: fixed;
  bottom: -100%;
  z-index: 32;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  transition: bottom 0.7s ease;
}

.cam_container {
  position: absolute;
  aspect-ratio: 1 / 1;
  width: min(100vw, calc(100vh - 250px));
  bottom: 250px;
  background-color: #c9b3ef;
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cam_container.default {
  box-shadow: inset -10px -8px 1px #9d83ca;
}
.cam_container.default::after {
  content: "";
  width: 150px;
  height: 10px;
  border-radius: 5px;
  background-color: #eadffc;
  position: absolute;
  top: 10px;
  left: 40px;
}
.cam_container.opt1 {
  background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
}
.cam_container.opt2 {
  background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
}
.cam_container.opt3 {
  background-color: #044b2d;
}
.cam_container.opt4 {
  background-color: white;
  /* border: 3px solid black; */
  /* box-sizing: border-box; */
}

/* photoTaking Animation */
.animation {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.animation.counting {
  font-family: "Kanit", sans-serif;
  font-size: 15rem;
  color: white;
  opacity: 0.3;
  text-align: center;
}
.animation.shooting {
  background-color: white;
  animation: 2s flash forwards;
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.cam_mask {
  border-radius: 8%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 7.14%;
  top: 7.14%;
}

.cam_mask.square {
  width: unset;
  height: 85.71%;
  aspect-ratio: 1 / 1;
}
.cam_mask.vertical {
  aspect-ratio: 3 / 4;
  height: 85.71%;
  width: unset;
}
.cam_mask.horizontal {
  aspect-ratio: 4 / 3;
  width: 85.71%;
  height: unset;
}
.actions {
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0px;
}

.imgpreview {
  position: absolute;
  z-index: 10;
}

.skinElement {
  z-index: 20;
  width: 100%;
  height: 100%;
}

.borderText p {
  font-family: "gangwonedu";
  font-size: 35px;
  position: absolute;
}
.up {
  top: -18px;
  left: calc(933.33px / 2 - 207px / 2);
}
.right.square {
  transform: rotate(90deg);
  top: 400px;
  left: 705px;
  width: max-content;
}
.left {
  display: flex;
  position: absolute;
  top: 80px;
  left: 25px;
}
.left p {
  display: inline-block;
  transform: rotate(-90deg);
}
.down.square {
  top: 850px;
  left: 450px;
  transform: rotate(180deg);
}

.right.vertical {
  transform: rotate(-90deg);
  width: 200px;
  top: 630px;
  left: 630px;
}
.down.vertical {
  top: 840px;
  transform: rotate(180deg);
}
.right.horizontal {
  top: 650px;
  left: 80px;
  width: 200px;
}
.down.horizontal {
  top: 540px;
  left: 14px;
  transform: rotate(-90deg);
}
.camera {
  position: absolute;
}
.camera.vertical {
  top: 140px;
  left: 710px;
  transform: rotate(-90deg);
}
.camera.horizontal {
  top: 725px;
  left: 630px;
}
.shutter {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: shutter 1s ease-out forwards;
}
.backCamera {
  position: absolute;
  z-index: 1000;
  width: 100px;
  height: 100px;
  background-color: #ed743f;
}
@keyframes shutter {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* PC 모드 */
@media (min-width: 1024px) {
  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 31;
    background: rgba(0, 0, 0, 0.75);
    cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  }
  /*container*/
  .container {
    width: 90vw;
    height: 90vh;
    border: 5px solid black;

    background-color: white;
    flex-direction: row;

    left: 5vw;
    top: 100vh;
    z-index: 32;

    justify-content: space-evenly;
    overflow: hidden;
    border-radius: 60px;
    transition: top 0.7s ease;
  }

  .cam_container {
    aspect-ratio: 1;
    width: 50%;
    background-color: #c9b3ef;
    border-radius: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    bottom: 0;
    /* margin-left: 0%; */
  }
  .cam_container.default {
    box-shadow: inset -10px -8px 1px #9d83ca;
  }
  .cam_container.default::after {
    content: "";
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background-color: #eadffc;
    position: absolute;
    top: 10px;
    left: 90px;
  }
  .cam_container.opt1 {
    background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
  }
  .cam_container.opt2 {
    background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
  }
  .cam_container.opt3 {
    background-color: #044b2d;
  }
  .cam_container.opt4 {
    background-color: white;
    border: 3px solid black;
    box-sizing: border-box;
  }

  .cam_mask {
    border-radius: 50px;
    overflow: hidden;
    z-index: 0;

    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: absolute;
    left: 7.14%;
    top: 7.14%;
    background-color: black;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: -webkit-radial-gradient(white, black);
  }

  .cam_mask.square {
    aspect-ratio: 1 / 1;
    height: 85.71%;
    width: unset;
  }
  .cam_mask.vertical {
    aspect-ratio: 3 / 4;
    height: 85.71%;
    width: unset;
  }
  .cam_mask.horizontal {
    aspect-ratio: 4 / 3;
    width: 85.71%;
    height: unset;
  }

  .skinElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  .actions {
    width: 40%;
    height: 100%;
    position: relative;
  }

  .imgpreview {
    position: absolute;
    z-index: 10;
  }

  .borderText p {
    font-family: "gangwonedu";
    font-size: 35px;
    position: absolute;
  }

  .animation.counting {
    color: black;
    grid-area: img;
    align-self: center;
    opacity: 1;
  }
  .shutter {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: shutter 1s ease-out forwards;
  }
}
