.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  width: 90vw;
  height: 90vh;
  border: 5px solid black;
  border-radius: 30px;
  background-color: white;

  position: fixed;
  left: 5vw;
  top: 2.5vh;
  z-index: 32;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cam_container {
  width: 933.33px;
  height: 933.33px;
  margin-left: 30px;
  margin-right: 70px;

  position: relative;
}

.cam_container__Frame {
  width: 933.33px;
  height: 933.33px;
  background-color: #c9b3ef;
  border-radius: 10%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cam_mask {
  margin: 66.67px;
  border-radius: 50px;
  overflow: hidden;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cam_mask.square {
  width: 800px;
  height: 800px;
}
.cam_mask.vertical {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 800px;
}
.cam_mask.horizontal {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 0;
  top: 0;
}
.actions {
  width: 37vw;
  height: 90vh;
}
/* .skinOptions {
  display: flex;
  column-gap: 20px;
} */

.imgpreview {
  position: absolute;
  z-index: 99;
}

/* animation */
.animation {
  position: absolute;
  z-index: 100;
}
.animation.counting {
  font-size: 30rem;
  color: white;
  font-weight: 200;
  text-align: center;
}
.animation.shooting {
  background-color: black;
  animation: flash 2s forwards;
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
