.container {
  width: 95vw;
  height: 95vh;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}

.cam_container{
  position: relative;
  width:900px;
  height:900px;
  background-color:green;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 70px;
}
.webcam{
  position: absolute;
  
}
.webcam.square{
}
.webcam.horizontal{ 
}


.actions{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.frameOptions{
  display: flex;
  column-gap: 20px;
}
.skinOptions{
  display: flex;
  column-gap: 20px;
}

.btn{
  width: 120px;
  height: 70px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.cam_mask{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.cam_mask.square{
  margin-top: 50px;
  width: 800px;
  height: 800px;
}
.cam_mask.vertical{
  width: 675px;
  height: 900px;
}
.cam_mask.horizontal{
 margin-top: 112.5px;
 width: 900px;
 height: 675px;
}
.imgpreview{
  position: absolute;
  width: inherit;
  height: inherit;
  top:0;
  left:0;
  z-index: 100;
}