.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.background {
  width: 90vw;
  height: 90vh;
  z-index:32;
  background-color: white;
  border-radius: 50px;
  top: 5vh;
  left: 5vw;
}

.container {
  width: 95vw;
  height: 95vh;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}

.cam_container {
  position: relative;
  width: 900px;
  height: 900px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 70px;
}

.actions {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.frameOptions {
  display: flex;
  column-gap: 20px;
}
.skinOptions {
  display: flex;
  column-gap: 20px;
}

.btn {
  width: 200px;
  height: 120px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.cam_mask {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.cam_mask.square {
  margin-top: 50px;
  width: 800px;
  height: 800px;
}
.cam_mask.vertical {
  width: 675px;
  height: 900px;
}
.cam_mask.horizontal {
  margin-top: 112.5px;
  width: 900px;
  height: 675px;
}

.imgpreview {
  position: absolute;
  z-index: 99;
}
.cam_mask.horizontal {
  margin-top: 112.5px;
  width: 900px;
  height: 675px;
}

/* animation */
.animation {
  position: absolute;
  z-index: 100;
}
.animation.counting {
  font-size: 30rem;
  color: white;
  font-weight: 200;
  text-align: center;
}
.animation.shooting {
  background-color: black;
  animation: flash 2s forwards;
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
