.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 31;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  width: 90vw;
  height: 90vh;
  border: 5px solid black;
  border-radius: 30px;
  background-color: white;

  position: fixed;
  left: 5vw;
  top: 2.5vh;
  z-index: 32;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cam_container {
  width: 933.33px;
  height: 933.33px;
  background-color: #c9b3ef;
  border-radius: 10%;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cam_container.opt0 {
  background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
}
.cam_container.opt1 {
  background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
}
.cam_container.opt2 {
  background-color: #044b2d;
}
.cam_container.opt3 {
  /* 임시 */
  background-color: white;
}
.cam_mask {
  margin: 66.67px;
  border-radius: 50px;
  overflow: hidden;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cam_mask.square {
  width: 800px;
  height: 800px;
}
.cam_mask.vertical {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 800px;
}
.cam_mask.horizontal {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 0;
  top: 0;
}

.actions {
  width: 880px;
  height: 90vh;
}

.imgpreview {
  position: absolute;
  z-index: 10;
}

/* animation */
.animation {
  position: absolute;
  z-index: 100;
}
.animation.counting {
  font-size: 30rem;
  color: white;
  font-weight: 200;
  text-align: center;
}
.animation.shooting {
  background-color: black;
  animation: 2s flash forwards;
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.skinElement {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
