@font-face {
  font-family: "maplestory";
  src: url("../Font/MaplestoryBold.ttf");
}

@font-face {
  font-family: "cocogoose";
  src: url("../Font/Cocogoose.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "cocogoose";
  src: url("../Font/Cocogoose\ Pro\ Light-trial.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "cocogoose";
  src: url("../Font/Cocogoose\ Pro\ Semilight-trial.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "gangwonedu";
  src: url("../Font/강원교육튼튼.otf");
}

@font-face {
  font-family: "Josefin";
  src: url("../Font/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "kotrahope";
  src: url("../Font/KOTRA-HOPE.ttf");
}
