/* default button animation */
.btn {
  font-family: "gangwonedu";
  font-weight: 900;
  font-size: 37px;
  border: none;
  border: 0;
  padding: 0;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
  box-sizing: border-box;
  box-shadow: 0 0 0 2px black;
  color: white;
  background-color: #603ebb;
  z-index: 0;
  border-radius: 2rem;
}
.btn::before {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(50, 25, 121);
  border-radius: inherit;
  box-shadow: 0 0 0 2px black, 0 0.2em 0 0 rgb(173, 173, 173);
  transform: translate3d(0, 0.3em, -0.1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btn:hover {
  background-color: white;
  transform: translate(0, 0.15em);
  color: #603ebb;
  cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
}

.btn:hover::before {
  box-shadow: 0 0 0 2px black, 0 0.1em 0 0 rgb(173, 173, 173);
  transform: translate3d(0, 0.1em, -1em);
}
.btn:active {
  background: white;
  transform: translate(0em, 0.2em);
}
