/* default button animation */
.btn {
  font-family: "gangwonedu";
  font-weight: 900;
  border: none;
  border: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px black;
  color: white;
  background-color: #603ebb;
  z-index: 0;
  border-radius: 0.35em;
}

.btn:active {
  background: white;
  color: #603ebb;
  color: #603ebb;
}
/* .btn:active::before {
  box-shadow: 0 0 0 2px black, 0 0 0 rgb(173, 173, 173);
  transform: translate3d(0, 0, -1em);
} */

/* Header */
.header {
  cursor: url("../assets/Images/mouse-pointer-black.png") 0 0, auto;
  right: 80px;
}

/* 다시찍기 */
.again {
  grid-area: again;
  justify-self: center;
}
/* 다음 */
.next {
  grid-area: next;
  justify-self: center;
}

/* 저장하기 */
.cancel {
  grid-area: cancel;
  justify-self: center;
  align-self: flex-start;
}
.cancel.note {
  margin-top: 5vh;
}
.save {
  grid-area: save;
  justify-self: center;
}
.save.note {
  margin-top: 5vh;
}
/* Next */
.movebtn {
  grid-area: move;
  justify-self: center;
  align-self: self-start;
  font-weight: 600;
  /* font-size: 60pt; */
}

/* Frame */
.framebtn {
  justify-self: center;
  align-self: flex-start;
}
.framebtn.square {
  grid-area: square;
  top: 25px;
}
.framebtn.vertical {
  grid-area: vertical;
  justify-self: end;
  bottom: 10px;
}
.framebtn.horizontal {
  grid-area: horizontal;
  justify-self: start;
  bottom: 10px;
}

/* RE? Save */
.lastbtn {
  align-self: center;
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  font-family: "cocogoose";
  /* font-weight: 550; */
  /* border-radius: 30px; */
  position: relative;
}
.lastbtn.again {
  grid-area: again;
  justify-self: end;
  right: 10px;
  background: rgb(182, 162, 241);
  color: rgba(255, 255, 255, 0.5);
}
.lastbtn.again:hover {
  background: white;
  color: #603ebb;
}
.lastbtn.again::before {
  background: rgb(68, 34, 161);
}
.lastbtn.save {
  grid-area: save;
  justify-self: start;
}

.mobile {
  height: 60px;
  width: 40vw;
  border-radius: 3vw;
}
@media (min-width: 1024px) {
  /* normal button design */
  .btn {
    font-family: "gangwonedu";
    font-weight: 900;
    border: none;
    border: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px black;
    color: white;
    background-color: #603ebb;
    z-index: 0;
    border-radius: 0.35em;
  }
  .btn:hover::before {
    box-shadow: 0 0 0 2px black, 0 0.1em 0 0 rgb(173, 173, 173);
    transform: translate3d(0, 0.15em, -1em);
  }
  .btn:hover {
    background-color: white;
    transform: translate(0, 0.15em);
    color: #603ebb;
    cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
  }
  /* pop animation */
  .btn.popup {
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
    position: absolute;
    
  }
  .btn.popup::before {
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(50, 25, 121);
    border-radius: inherit;
    box-shadow: 0 0 0 2px black, 0 0.3em 0 0 rgb(173, 173, 173);
    transform: translate3d(0, 0.35em, -0.1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  .btn.popup:hover {
    background: white;
    color: #603ebb;
    transform: translate(0, 0.2em);
    cursor: url("../assets/Images/mouse-pointer-black.png") 0 0, auto;
  }
  .btn.popup:hover::before {
    box-shadow: 0 0 0 2px black, 0 0.2em 0 0 rgb(173, 173, 173);
    transform: translate3d(0, 0.15em, -1em);
  }
  .btn.popup:active {
    background: white;
    transform: translate(0em, 0.3em);
  }
  .btn.popup:active::before {
    box-shadow: 0 0 0 2px black, 0 0 0 rgb(173, 173, 173);
    transform: translate3d(0, 0, -1em);
  }
  /* Header */
  .header {
    cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
    right: 80px;
  }
  /* cancel */
  .cancel {
    grid-area: cancel;
    justify-self: center;
  }
  .again {
    grid-area: again;
    justify-self: center;
  }
  .save {
    grid-area: save;
    justify-self: center;
  }
  .next {
    grid-area: next;
    justify-self: end;
  }
  /* Frame select*/
  .framebtn {
    justify-self: center;
    align-self: flex-start;
  }
  .framebtn.square {
    grid-area: square;
    top: 25px;
  }
  .framebtn.vertical {
    grid-area: vertical;
    justify-self: end;
    bottom: 10px;
  }
  .framebtn.horizontal {
    grid-area: horizontal;
    justify-self: start;
    bottom: 10px;
  }
  /* before photo */

  /* after photo(RE? Save) */
  .lastbtn {
    align-self: center;
    cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
    font-family: "cocogoose";
    /* font-weight: 550; */
    /* border-radius: 30px; */
    position: relative;
    justify-self: center;
  }
  .lastbtn.again {
    grid-area: again;
    background: rgb(182, 162, 241);
    color: rgba(255, 255, 255, 0.5);
  }
  .lastbtn.again:hover {
    background: white;
    color: #603ebb;
  }
  .lastbtn.again::before {
    background: rgb(68, 34, 161);
  }
  .lastbtn.save {
    grid-area: save;
    justify-content: center;
  }
}
