.container {
  width: 900px;
  height: 933.33px;
  margin: 73.342px 0;

  display: grid;
  grid-template-columns: 50% 50%;
  /* row-gap: 0px; */
  column-gap: 30px;

  position: relative;
  left: -30px;
}
.container.frame {
  grid-template-rows: 15vh 24vh 24vh 15vh;
  grid-template-areas:
    "header header"
    "square square"
    "vertical horizontal"
    "move move";
}
.container.skin {
  grid-template-rows: 15vh 24vh 24vh 15vh;
  grid-template-areas:
    "header header"
    "skin1 skin2"
    "skin3 skin4"
    "move move";
}
.container.beforePhoto {
  grid-template-rows: 15vh 48vh 15vh;
  grid-template-areas:
    "header header"
    "img img"
    "move move";
}
.container.afterPhoto {
  grid-template-rows: 15vh 48vh 15vh;
  grid-template-areas:
    "header header"
    "img img"
    "again save";
}
.text {
  width: 100%;
  font-family: "cocogoose";
  font-weight: 900;
  font-size: 70px;
  grid-area: header;
  font-weight: 900;
}
.text p {
  text-align: center;
  margin: 0;
}
.comit {
  color: #603ebb;
}
.photobooth {
  position: relative;
  top: -17.78px;
}

.framebtn {
  width: 360px;
  height: 250px;

  border: none;
  padding: 0;
  font-size: 2rem;

  justify-self: center;
  align-self: center;

  position: relative;

  cursor: pointer;
}
.framebtn.square {
  grid-area: square;
  bottom: 2px;
  background: url("../assets/buttons/square-button.png") center center/contain
    no-repeat;
}
.framebtn.vertical {
  grid-area: vertical;
  justify-self: end;
  bottom: 10px;
  background: url("../assets/buttons/vertical-button.png") center center/contain
    no-repeat;
}
.framebtn.horizontal {
  grid-area: horizontal;
  justify-self: start;
  bottom: 10px;
  background: url("../assets/buttons/horizontal-button.png") center
    center/contain no-repeat;
}

.skinbtn {
  width: 360px;
  height: 250px;

  justify-self: center;
  align-self: center;

  position: relative;
  cursor: pointer;
}
.skinbtn.skin1 {
  justify-self: end;
  bottom: 2px;
}
.skinbtn.skin2 {
  justify-self: start;
  bottom: 2px;
}
.skinbtn.skin3 {
  justify-self: end;
  bottom: 10px;
}
.skinbtn.skin4 {
  justify-self: start;
  bottom: 10px;
}
.movebtn {
  grid-area: move;
  width: 756px;
  height: 196px;

  border: none;
  padding: 0;

  justify-self: center;
  align-self: center;
  cursor: pointer;

  position: relative;
}
.movebtn.nextbtn {
  background: url("../assets/buttons/next-Button2.png") center center/contain
    no-repeat;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
/* .movebtn.nextbtn::before {
  position: absolute;
  content: "";
  width: cd100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 100px 0 0 rgba(96, 62, 187, 0.8);
  transform: translate3d(0, 0px, 150px);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.movebtn.movebtn.nextbtn:hover {
} */
.movebtn.takePhoto {
  background: url("../assets/buttons/takePhoto-button.png") center
    center/contain no-repeat;
}
.close {
  position: absolute;
  width: 60px;
  height: 60px;
  right: -35px;
  top: -60px;
  border: none;
  cursor: pointer;
  background: url("../assets/buttons/close-modal.png") center center/contain
    no-repeat;
}
/* @media (max-width: 700px) {
  .close{
    right: 0px;
  }
} */

.lastbtn {
  width: 380px;
  height: 180px;
  padding: 0;
  border: none;
  align-self: center;
  cursor: pointer;

  position: relative;
}
.lastbtn.again {
  grid-area: again;
  justify-self: end;
  right: 10px;
  background: url("../assets/buttons/re-button.png") center center/contain
    no-repeat;
}
.lastbtn.save {
  grid-area: save;
  justify-self: start;
  left: 10px;
  background: url("../assets/buttons/save-button.png") center center/contain
    no-repeat;
}
