.container {
  width: 94%;
  height: 96%;
  padding: 2% 3% 2% 3%;
  font-family: "cocogoose";
  color: white;
  display: grid;

  /* background-color: white; */
  /* row-gap: 0px; */
  /* column-gap: 30px; */

  position: relative;
}

/* Phase에 따른 grid */
/* .container.frame {
  column-gap: 1%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 9fr 5fr;
  grid-template-areas:
    "square vertical horizontal"
    "cancel .  save";
} */
.container.frame {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 9fr 5fr;
  column-gap: 2vw;
  grid-template-areas:
    "square square vertical vertical horizontal horizontal"
    "cancel cancel cancel save save save";
}

.container.beforePhoto {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 9fr 5fr;
  column-gap: 2vw;
  grid-template-areas:
    "img img"
    "cancel .";
}
.container.afterPhoto {
  grid-template-rows: 9fr 5fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2vw;
  grid-template-areas:
    "img img"
    "again next";
}
.container.skin {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 9fr 5fr;
  column-gap: 2vw;
  grid-template-areas:
    "skin1 skin2 skin3 skin4"
    "cancel cancel save save";
}
.takePhoto_mobile {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;

  justify-self: center;
  align-self: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
}
/* .container.frame {
  grid-template-rows: 15vh 24vh 24vh 15vh;
  grid-template-areas:
    "header header"
    "square square"
    "vertical horizontal"
    "move move";
} */

.text {
  width: 100%;
  font-size: 70px;
  grid-area: header;
  font-weight: 900;
  position: relative;
  top: -50px;
}
.text p {
  text-align: center;
  margin: 0;
}
.comit {
  font-size: 90px;
  color: #603ebb;
  text-shadow: 3px 5px 1px rgb(187, 187, 187);
  animation: wiggle 2.5s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.photobooth {
  position: relative;
  color: black;
  top: -17.78px;
}
.skinbtn {
  width: 100%;
  height: 110px;
  justify-self: center;
  align-self: center;

  font-size: 3rem;
  border-radius: 3vw;
  overflow: hidden;
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;

  transition: transform 150ms ease-in;
  position: relative;
  z-index: 0;
}
.skinbtn:hover {
  transform: scale(1.15);
  transition: transform 150ms linear;
  cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
}
.skinbtn.skin1 {
  grid-area: skin1;
  background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
}

.skinbtn.skin2 {
  grid-area: skin2;
  background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
}
.skinbtn.skin3 {
  grid-area: skin3;
  background-color: #044b2d;
}

.skinbtn.skin4 {
  grid-area: skin4;
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
}

.btndesign {
  position: absolute;
  /* z-index: 10; */
}

.close {
  position: absolute;
  width: 60px;
  height: 60px;
  right: -35px;
  top: -60px;
  border: none;
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  background: url("../assets/Images/close-modal.png") center center/contain
    no-repeat;
}
.close:hover {
  cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
}
.loading {
  animation: rotate 1s ease-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "cocogoose";
    color: white;

    /* row-gap: 0px; */
    /* column-gap: 30px; */

    position: relative;
  }
  .container.frame {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 30% 30% 20%;
    column-gap: 1vw;
    grid-template-areas:
      "header header header header header header"
      ". . square square . ."
      ".  vertical vertical horizontal horizontal ."
      "cancel cancel cancel save save save";
  }
  .container.beforePhoto {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-areas:
      "header"
      "img"
      "next";
    padding: 0;
  }
  .container.afterPhoto {
    display: grid;
    column-gap: 0;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "img img"
      "again next";
  }
  .container.skin {
    grid-template-rows: 20% 30% 30% 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "skin1 skin2"
      "skin3 skin4"
      "cancel save";
    row-gap: 0;
    column-gap: 0;
    padding: 0;
  }

  .smileText {
    font-family: josefin;
    font-weight: 400;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 65%;
    color: black;
    transform: rotate(30deg);
  }
  .text {
    width: 100%;
    font-size: 70px;
    grid-area: header;
    font-weight: 900;
    position: relative;
    top: 15%;
  }
  .text p {
    text-align: center;
    /* margin: 0; */
  }
  .comit {
    font-size: 90px;
    color: #603ebb;
    text-shadow: 3px 5px 1px rgb(187, 187, 187);
    animation: wiggle 2.5s infinite;
  }
  .photobooth {
    position: relative;
    color: black;
    top: -25px;
  }

  .close {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0vw;
    top: 1vw;
    border: none;
    cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
    background: url("../assets/Images/close-modal.png") center center/contain
      no-repeat;
  }
  .skinbtn {
    width: 70%;
    height: 70%;
    justify-self: center;
    align-self: center;
    margin: 5%;
    /* transform: translate(0, 10%); */
    transform-origin: center center;
    font-size: 3rem;
    border-radius: 30px;
    overflow: hidden;
    cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;

    transition: transform 150ms ease-in;
    position: relative;
    border: none;
  }
  .skinbtn.skin1 {
    grid-area: skin1;
    justify-self: end;
    align-self: flex-end;
    background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
  }

  .skinbtn.skin2 {
    grid-area: skin2;
    justify-self: start;
    align-self: last baseline;
    background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
  }
  .skinbtn.skin3 {
    grid-area: skin3;
    justify-self: end;
    align-self: flex-start;
    background-color: #044b2d;
  }

  .skinbtn.skin4 {
    grid-area: skin4;
    justify-self: start;
    align-self: flex-start;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
  }
}
