.container {
  width: 94%;
  height: 96%;
  padding: 2% 3% 2% 3%;
  font-family: "cocogoose";
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  /* row-gap: 0px; */
  /* column-gap: 30px; */

  position: relative;
}
.container.skin {
  grid-template-rows: 100px 100px;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  row-gap: 20px;
  column-gap: 4vw;
  padding: 4vw;
  grid-template-areas:
    "skin1 skin2 skin3 skin4"
    "none none  move move";
}
.container.beforePhoto {
  grid-template-rows: 15vh 48vh 15vh;
  grid-template-areas:
    "header header"
    "img img"
    "move move";
}
.container.frame {
  grid-template-rows: 15vh 24vh 24vh 15vh;
  grid-template-areas:
    "header header"
    "square square"
    "vertical horizontal"
    "move move";
}

.container.afterPhoto {
  grid-template-rows: 15vh 48vh 15vh;
  grid-template-areas:
    "header header"
    "img img"
    "again save";
}
.text {
  width: 100%;
  font-size: 70px;
  grid-area: header;
  font-weight: 900;
  position: relative;
  top: -50px;
}
.text p {
  text-align: center;
  margin: 0;
}
.comit {
  font-size: 90px;
  color: #603ebb;
  text-shadow: 3px 5px 1px rgb(187, 187, 187);
  animation: wiggle 2.5s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.photobooth {
  position: relative;
  color: black;
  top: -17.78px;
}
.skinbtn {
  width: 20vw;
  height: 100px;
  justify-self: center;
  align-self: center;

  font-size: 3rem;
  border-radius: 3vw;
  overflow: hidden;
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;

  transition: transform 150ms ease-in;
  position: relative;
}
.skinbtn:hover {
  transform: scale(1.15);
  transition: transform 150ms linear;
  cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
}
.skinbtn.skin1 {
  background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
}

.skinbtn.skin2 {
  background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
}
.skinbtn.skin3 {
  background-color: #044b2d;
}

.skinbtn.skin4 {
  background-color: white;
  border: 2px solid black;
}

.btndesign {
  position: absolute;
  /* z-index: 10; */
}
.btndesign.skin1 {
  top: -30px;
  left: 0px;
}

.btndesign.skin2 {
  top: -50px;
  left: 45px;
}

.btndesign.skin3.leaves {
  top: 0px;
  left: 15px;
  transform: rotate(30deg);
}
.btndesign.skin3.sungkyuni {
  top: 78px;
  left: 120px;
}

.btndesign.skin4 {
  font-family: "josefin";
  font-size: 60px;
  font-weight: 700;
  top: 0px;
  left: -70px;
  transform: rotate(-30deg);
}
.btndesign.skin4 p {
  margin-bottom: -50px;
  width: max-content;
}
.comitfilm1 {
  margin-left: 70px;
}
.comitfilm3 {
  margin-left: -70px;
}

/* photoTaking Animation */
.animation {
  width: 100%;
  grid-area: img;
  justify-self: center;
  align-self: center;
}
.animation.counting {
  font-family: "Kanit", sans-serif;
  font-size: 20rem;
  color: black;
  /* font-weight: 200; */
  text-align: center;
}
.animation.shooting {
  background-color: white;
  animation: 2s flash forwards;
}
@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.smile {
  font-family: josefin;
  font-weight: 400;
  font-size: 50px;
  position: absolute;
  top: 260px;
  left: 640px;
  color: black;
  transform: rotate(30deg);
}

.movebtn,
.framebtn,
.lastbtn {
  /* border: none;
  padding: 0;
  color: white;
  background-color: #603ebb; */
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  /* position: relative;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
  box-sizing: border-box;
  box-shadow: 0 0 0 2px black; */
}

/* .movebtn::before,
.framebtn::before,
.lastbtn::before {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(50, 25, 121);
  border-radius: inherit;
  box-shadow: 0 0 0 2px black, 0 0.15em 0 0 rgb(173, 173, 173);
  transform: translate3d(0, 0.25em, -0.1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
} */
/* .movebtn:hover,
.framebtn:hover,
.lastbtn:hover {
  background-color: white;
  transform: translate(0, 0.15em);
  color: #603ebb;
  cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
}
.movebtn:hover::before,
.framebtn:hover::before,
.lastbtn:hover::before {
  box-shadow: 0 0 0 2px black, 0 0.1em 0 0 rgb(173, 173, 173);
  transform: translate3d(0, 0.1em, -1em);
}
.movebtn:active,
.framebtn:active,
.lastbtn:active {
  background: white;
  transform: translate(0em, 0.2em);
} */

.close {
  position: absolute;
  width: 60px;
  height: 60px;
  right: -35px;
  top: -60px;
  border: none;
  cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  background: url("../assets/Images/close-modal.png") center center/contain
    no-repeat;
}
.close:hover {
  cursor: url("../assets/Images/mouse-pointer-black.png") 25 25, auto;
}
.loading {
  animation: rotate 1s ease-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .container {
    width: 900px;
    height: 933.33px;
    padding: 0;
    margin: 73.342px 0;
    font-family: "cocogoose";
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    /* row-gap: 0px; */
    column-gap: 30px;

    position: relative;
    /* left: -30px; */
  }
  .container.skin {
    grid-template-rows: 15vh 24vh 24vh 15vh;
    grid-template-areas:
      "header header"
      "skin1 skin2"
      "skin3 skin4"
      "move move";
  }
  .close {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -35px;
    top: -60px;
    border: none;
    cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
    background: url("../assets/Images/close-modal.png") center center/contain
      no-repeat;
  }
  .skinbtn {
    width: 340px;
    height: 250px;
    justify-self: center;
    align-self: center;
  
    font-size: 3rem;
    border-radius: 30px;
    overflow: hidden;
    cursor: url("../assets/Images/mouse-pointer-white.png") 25 25, auto;
  
    transition: transform 150ms ease-in;
    position: relative;
  }
  .skinbtn.skin1 {
    justify-self: end;
    bottom: 2px;
    background: linear-gradient(#1f1f61 0%, #755d98 60%, #e0a6b2 100%);
  }
  
  .skinbtn.skin2 {
    justify-self: start;
    bottom: 2px;
    background: linear-gradient(#ffc994 0%, #ffa852 60%, #ed743f 100%);
  }
  .skinbtn.skin3 {
    justify-self: end;
    bottom: 10px;
    background-color: #044b2d;
  }
  
  .skinbtn.skin4 {
    justify-self: start;
    bottom: 10px;
    background-color: white;
    border: 2px solid black;
  }
}
